body
{
 background-color: rgb(255, 248, 240);
}
.container 
{
 width: 100%;
 margin: 0;
 padding: 0;
 text-align: center;
}
h1 
{
 color: #f81818;
 margin-bottom: 30px;
}
img
{
 width: 100%;
}
label 
{
 display: block;
 margin-bottom: 10px;
 text-align: left;
}
input[type="text"],input[type="password"] 
{
 width: 85%;
 padding: 8px 10px;
 margin-bottom: 20px;
 border: 1px solid #ccc;
 border-radius: 5px;
}
input[type="submit"] 
{
 padding: 6px;
 background-color: #f81818;
 color: #fff;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}
input[type="submit"]:hover 
{
 background-color: #f81818;
}